# Data Preprocessing

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import Imputer

## Importing the dataset

In [2]:
dataset = pd.read_csv('../../data/Data.csv')

In [3]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

En cualquier dataset necesitamos hacer una distinción entre las variables independientes y las dependientes

En el dataset anterior,  las variables independientes son  `Country`, `Age` y `Salary`.
La variable/columna `Purchased`  es una variable dependiente

Entonces, a partir del dataset anterior, creamos una matriz solo para referenciar las variables independientes: `Country`, `Age` y `Salary`, por lo que tomamos todas las columnas menos la de `Purchased`

In [4]:
X = dataset.iloc[:, :-1].values

In [5]:
# Es asi como la matriz de variables independientes `X` queda de esta forma:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

Tambien a partir del conjunto de datos original representado por la variable `dataset` creamos un vector solo 
para la variable independiente `Purchased`

In [6]:
y = dataset.iloc[:, 3].values

In [7]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Removiendo datos faltantes

Es muy común tener un conjunto de datos, en donde en algunas celdas o líneas o registros, existan datos faltantes 
tipo `NaN` como es el caso de nuestro conjunto de datos:

In [12]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [11]:
type(dataset['Age'])

pandas.core.series.Series

In [16]:
print(dataset['Age'][6])
print(dataset['Salary'][4])

nan
nan

** Que hacemos con estos valores faltantes? ** 

La primera idea es remover las líneas de las muestras o registros en donde hay datos faltantes, pero dependiendo del contexto esto puede ser peligroso porque puede contener información crucial. Es mejor pensar en otra idea.

Una alternativa de solucion mas comun es tomar la media de los valores de las columna en donde faltan los datos, en este caso `Age` y `Salary`

Para el caso de la columna `Age`

![alt text](https://cldup.com/WSQFnqNeuX-3000x3000.png "Llenando el espacio faltante con la media de los demas valores")

Para el caso de la columna `Salary`

![alt text](https://cldup.com/ThRBQavgo4-2000x2000.png "Llenando el espacio faltante con la media de los demas valores")